<html>
  <head>
    <title>Employee Login</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/employee/form}">Form</a>
      <a th:href="@{/employee/database}">Database</a>
    </div>

    <div>
      <h2>Login</h2>
      
      <form >
        <input type="text" placeholder="Login"></input>
        <input type="password" placeholder="Password"></input>
        <input type="submit"></input>
      </form>
    </div>
  </body>
</html>
